.file-upload-container {
    display: flex;
    align-items: center;
}

.add-button {
    width: 70px;
    height: 70px;
    border: 2px solid #007bff;
    border-radius: 50%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.add-button:hover {
    background-color: #e2f0fb;
    box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.2);
}

.add-button-img {
    width: 40px; /* Подберите размер логотипа по своему усмотрению */
    height: 40px; /* Подберите размер логотипа по своему усмотрению */
}
